@use "variable" as *;

.related-project-banner {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  grid-template-areas: "content thumbnail";

  &[data-reversed="1"] {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "thumbnail content";
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content content" "thumbnail thumbnail";

    &[data-reversed="1"] {
      grid-template-columns: 1fr;
      grid-template-areas: "content content" "thumbnail thumbnail";
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas: "content" "thumbnail";

    &[data-reversed="1"] {
      grid-template-columns: 1fr;
      grid-template-areas: "content" "thumbnail";
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 2.5rem;
  }
}

.related-project-content {
  grid-area: content;
  font-weight: $rp-content-font-weight;
}

.related-project-figure {
  grid-area: thumbnail;
}

.related-project-title {
  color: $rp-title-color;
  font-size: $rp-title-size;
  margin: $rp-title-margin;
  font-weight: $rp-title-font-weight;

  @if $rp-title-italic {
    font-style: italic;
  }
}

.related-project-image {
  transition: all 225ms ease;
  &[data-src] {
    filter: blur(3px);
    transition: all 225ms ease;
  }
}

.related-project-pills,
.project-pills {
  display: flex;
  flex-wrap: wrap;
}

.related-pill {
  border: $rp-pill-border;
  border-radius: $rp-pill-border-radius;
  padding: 0 $rp-pill-padding;
  margin-bottom: $rp-pill-margin;
  color: $rp-pill-color;
  background: $rp-pill-background;
  font-size: $rp-pill-font-size;

  &:not(:last-of-type) {
    margin-right: $rp-pill-margin;
  }
}

.related-project-button {
  background: $rp-button-background;
  border-radius: $rp-button-border-radius;
  color: $rp-button-color;
  display: inline-block;
  padding: $rp-button-padding;
  margin-top: $rp-button-margin;
  transition: all 225ms ease;
  &:hover {
    background: $rp-button-background--active;
    color: $rp-button-color--active;
    transition: all 225ms ease;
  }
}
