{% from 'components/buttons/menu.html.twig' import submenu_item %}

{% if item %}
    {% for child in item.children %}
        <div class="submenu-wrapper" data-parent="{{ item.name|sanitize }}">
            {{ submenu_item(child, 'submenu-item') }}

{#            {% if child.children %}#}
{#                {{ include('partials/header/submenu.html.twig', { item: child }) }}#}
{#            {% endif %}#}
        </div>
    {% endfor %}
{% endif %}
