@use "abstracts" as *;

$menu-spacing: map-get($spacing, 'lg') !default;

$menu-background: $white !default;
$menu-color: $black !default;
$menu-color--active: $black !default;
$menu-underline: none !default;
$menu-underline--active: none !default;

