<header class="header py-4 px-4 lg:px-0">
    <div class="container mx-auto flex">
        <section class="header-start">
            {% if theme.theme_mod('custom_logo') %}
                {{ include('partials/header/logo.html.twig') }}
            {% else %}
                {{ include('partials/header/logo-text.html.twig') }}
            {% endif %}
        </section>
        <div class="header-end ml-auto my-auto flex">
            <div class="navbar my-auto hidden lg:flex">
                {{ include('partials/header/navbar.html.twig') }}
            </div>
            <button class="hamburger js-toggle-menu lg:hidden">
                <i class="fas fa-bars"></i>
            </button>
            {{ include('partials/header/phone.html.twig') }}
        </div>
    </div>
</header>
