@use "abstracts" as *;

$fonts: (
  '1': (
    'size': '2.4rem',
    'weight': 'bold',
  ),
  '2': (
    'size': '1.6rem',
    'weight': 'bold',
  ),
  '3': (
    'size': '1.45rem',
    'weight': 'bold',
  ),
  '4': (
    'size': '1.2rem',
    'weight': 'bold',
  ),
) !default;

$heading-top-bar-color: $primary !default;
$heading-top-bar-height: 8px !default;
$heading-top-bar-width: 115px !default;
