@use "variable" as *;

.subservice-wrapper {
  display: flex;
  justify-content: space-around;
}

.subservice {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  background: white;
  padding: .5rem;
  position: relative;
  flex: 1 1 auto;
  max-width: 30%;
}
