@use "variable" as *;

.service-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  background: white;
  padding: .5rem;
  position: relative;
  flex: 1 1 auto;
  max-width: 30%;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  box-shadow: 0 3px 6px hsla(0, 0%, 96%, .8);
}

.service-title {
  font-weight: bold;
  font-size: 1.1rem
}
