@use "variable" as *;

.djc-button,
a.btn.djc-button,
.btn.djc-button,
.elementor a.btn.djc-button{
  border: 1px solid transparent;
  border-radius: $btn-border-radius;
  font-style: normal;
  padding: .5rem;
  font-weight: 300;
  font-size: 1rem;

  &.primary {
    color: $btn-black;
    background-color: $btn-primary;
    border-color: $btn-primary;
  }

  &.primary-outlined {
    color: $btn-primary;
    border-color: $btn-primary;
    background-color: transparent;
  }

  &.black {
    color: $btn-white;
    background-color: $btn-black;
    border-color: $btn-black;
  }

  &.black-outlined {
    color: $btn-black;
    border-color: $btn-black;
    background-color: transparent;
  }

  &.secondary {
    color: $btn-white;
    background-color: $btn-secondary;
    border-color: $btn-secondary;
  }

  &.secondary-outlined {
    color: $btn-secondary;
    border-color: $btn-secondary;
    background-color: transparent;
  }
}
