@use "variable" as *;

.social-button {
  width: $btn-soc-width;
  height: $btn-soc-height;
  border-radius: $btn-soc-border-radius;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $btn-soc-background;
  color: $btn-soc-color;

  transition: all 225ms ease;

  &:hover {
    background: $btn-soc-background--active;
    color: $btn-soc-color--active;
    transition: all 225ms ease;
  }
}
