@use "abstracts" as *;

.footer-phone,
.footer-email {
  color: scale-color($black, $alpha: -40%);
  transition: all 225ms ease;

  &:hover {
    color: $black;
  }
}

.phone-letter {
  color: $black;
}

.footer-menu-disclaimer {
  font-size: 80%;
}

.footer-title {
  color: $primary;
}

.footer {
  position: relative;
}

.footer-separator {
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  top: 0;

  svg {
    display: block;
    width: calc(150% + 1.5px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    fill: #fff;
    height: 40px;
  }
}
