@use "variable" as *;

.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.pagination {
  padding: .25rem .5rem;
  border: 1px solid orange;
  color: orange;
  background: white;
  border-radius: 5px;

  &.active {
    background: orange;
    color: white;
  }

  &:not(:last-of-type) {
    margin-right: .5rem;
  }

  @if $btn-pag-color != $btn-pag-color--active {
    &.active {
      color: $btn-pag-color--active;
    }
  }

  @if $btn-pag-background != $btn-pag-background--active {
    &.active {
      background: $btn-pag-background--active;
    }
  }
}
