@use "variable" as *;

.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.pagination {
  padding: $btn-pag-padding;
  border: $btn-pag-border;
  color: $btn-pag-color;
  background: $btn-pag-background;
  border-radius: $btn-pag-border-radius;

  &:not(:last-of-type) {
    margin-right: .5rem;
  }

  @if $btn-pag-color != $btn-pag-color--active {
    &.active {
      color: $btn-pag-color--active;
    }
  }

  @if $btn-pag-background != $btn-pag-background--active {
    &.active {
      background: $btn-pag-background--active;
    }
  }
}
